header.header
    .container 
        .header-box 
            .header-column
                .hedear-logo 
                    a(href="#") 
                        img(src="" alt="")
                .header-list 
                span Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, non eaque? Repellat iusto laborum eveniet itaque illo veniam dolore, corporis deleniti inventore ipsam voluptatem vel optio est, soluta error accusamus!
            .header-column