include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = '.'

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./assets/js/library/fontawesome/css/all.css')
    link(rel='stylesheet' href='./assets/js/library/fontawesome/fontawesome/fontawesome.css')
    link(rel='stylesheet' href='./assets/js/library/aos/aos.css')
    //- Font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap' rel='stylesheet')
    //- CSS All
    link(rel='stylesheet' href='./assets/css/common.css')

    if pageID == 'homepage'
      link(rel="stylesheet" href="./assets/css/home.css")
    link(rel='icon' type='image/png' href='./assets/images/mona.png')
    title Template

  body(class=pageID)
    main.main
      block container
    script(src='./assets/js/library/jquery/jquery.js')
    script(src='./assets/js/main.js' type='module')
    block scripts