header.header
    .container 
        .header-box
            .header-column
                .header-logo
                    img(src="../assets/img/logo/logo-vuthao.svg" loading="lazy")
            .header-column