header.header
    .container
        .header-wrap 
            .header-column
                .header-logo 
                    a(href="#") 
                        img(srcset="/assets/img/logo/logo-vuthao.svg" alt="")
            .header-column
                nav.header-menu.mobile
                    .header-navigation
                        ul.menu 
                            li.menu-item
                                a(href="#") Trang chủ
                            li.menu-item.dropdown
                                a(href="#") Giới thiệu
                                i.ic.ic-down
                            li.menu-item.dropdown
                                a(href="#") Sản phẩm
                                i.ic.ic-down
                            li.menu-item.dropdown
                                a(href="#") Tin tức chuyển đổi số
                                i.ic.ic-down
                            li.menu-item
                                a(href="#") Tuyển dụng
                    .header-contact
                        .header-block 
                            .header-block-search
                                .search 
                                    i.ic.ic-search
                            .header-block-phone 
                                .phone 
                                    i.ic.ic-phone 
                            .header-block-language 
                                .language
                                    img(src="/dist/assets/img/icon/language-eng.webp" loading="lazy")
                            .header-block-button 
                                a.btn.btn-contact(href="#") Liên hệ
