.darkmore {
  text-align: right;
  padding: 1.5rem;

  .toggle {
    height: 2em;
    width: 8rem;
    font-size: 2rem;
    cursor: pointer;
    display: block;
    user-select: none;
    position: relative;
    margin-left: auto;
    border-radius: 2em;
    border: 0.1rem solid currentColor;

    span {
      display: block;
      height: 1.5em;
      left: 0.25em;
      top: 50%;
      width: 1.5em;
      z-index: 2;
      overflow: hidden;
      border-radius: 2em;
      position: absolute;
      text-indent: -99.9rem;
      transition: left 0.25s;
      transform: translateY(-50%);
      background-color: currentColor;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      border-radius: 1em;
      position: absolute;
      z-index: 1;
    }

    &::after {
      box-shadow: 0.25em 0.25em #5901d8;
      height: 1.125em;
      right: 0.9em;
      top: 0.125em;
      width: 1.125em;
    }

    &::before {
      background-color: #ffc409;
      height: 0.625em;
      outline: 0.25em dotted #ffc409;
      outline-offset: 0.125em;
      left: 0.7em;
      top: 0.7em;
      width: 0.625em;
    }
  }
  input:checked ~ .toggle span {
    left: 2em;
  }

  &-only {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
}
