extends ../index

block variable
    -title = 'Vũ Thảo - Trang chủ'
    -pageClass = 'home'

block container 
    section.banner
        .container
            span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nihil qui nesciunt temporibus voluptates sequi in ipsa quidem, voluptas ratione vitae quod, numquam eius. Harum vitae id veniam dolor laborum?
